:root {
    --body-color: #0F4C75;
    --main-color: #3282B8;
    --header-color: #1B262C;
    --font-color: #BBE1FA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    font-family: 'Barlow', sans-serif;
    color: var(--font-color);
}

input, button {
    background-color: var(--main-color);
    font-size: 16px;
    color: var(--font-color);
}

::placeholder {
    color: var(--font-color);
    opacity: 0.6;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    gap: 20px;

    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    padding: 16px;
}

.input_section {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background-color: var(--header-color);
    border: 5px solid var(--main-color);
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
}

.input_section > form > .input {
    margin: 20px 0;
}

.input_section > form > button {
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid;
    border-radius: 5px;
}

.input_section > form > .input > label {
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    font-weight: bold;
    margin-right: 10px;
}

/* 
*   Book_shelf Section
*/

.book_shelf {
    background-color: var(--header-color);
    border: 5px solid var(--main-color);
    padding: 16px;
    border-radius: 10px;
}

.book_shelf h2 {
    text-align: center;
}

.item {
    margin-top: 15px;
	border-radius: 8px;
	padding: 20px;
	background-color: var(--main-color);
	display: flex;
	flex-direction: column;
	align-items: start;
}

.item h3, .item p {
    margin-bottom: 10px;
}

.shadow {
	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}
.btn-baca {
    border: 0;
	cursor: pointer;

    padding: 10px;
    background-color: var(--body-color);
	border-radius: 10px;
	transition: ease .5s;
}
.btn-baca:hover {
	color: var(--main-color);
	background-color: var(--font-color);
}

.btn-hapus {
    border: 0;
	margin-top: 10px;

	padding: 10px;
    background-color: var(--body-color);
	border-radius: 10px;
	transition: ease .5s;
}
.btn-hapus:hover {
	color: var(--main-color);
	background-color: var(--font-color);
}
